

*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

/* l'entête de la page*/
nav{
    display: flex;
    flex-flow: column wrap;
    width: 90%;
    height: 70px;
    background-color: #003580;
    padding-left: 10%;
    position: sticky;
    top: 0px;
}
.nav-header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 1% 1% 0% 1%;
    border-bottom: rgba(121, 113, 113, 0.295) 0.1px solid;
}
.nav-left{
    color: white;
    display: flex;
}
.menu-options{
    margin-left: -15%;
    width: 42%;
    background-color: #003580;
    height: 55px;
}

.menu-options ul{
    list-style-type: none;
    padding-left: 40%;
}

.menu-options ul li{
    float: left;
    text-align: center;
    position: relative;
    align-content: center;
    margin-left: 7%;
    border-bottom: 1px solid #ffffff;
}

.menu-options ul::after{
    content: "";
    display: table;
    clear: both;
}

.menu-options a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding-top: 2px;
}

.menu-options a:hover{
    color: #01aff4;
    border-bottom: 4px solid #01aff4;
    width: 100%;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 200%;
    z-index: 1000;
}
.menu-options > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
    color: #184979;
}
.sous a:hover{
    border-bottom: none;
    background-color: rgba(200, 200, 200, 0.308);
    width: 85%;
}
.deroulant > a::after{
    font-size: 12px;
}
.header{
    background-color: #003580;
    height: 300px;
    width: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10%;
}

.header-frm-question{
    background-color:#0d2640;
    border-radius: 5px;
    display: flex;
    width: 80%;
    margin: 2%;
    flex-flow: wrap-reverse wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 5px 10px -5px rgba(119, 119, 119, 0.651);
}
.header-frm-question input{
    width: 30%;
    border-radius: 7px;
    border: none;
    height: 20px;
    font-size: 13px;
    padding: 1% ;
    margin: 3px;
}
/* le corp de la page*/
body{
    background-color: #ffffff;
}

.conteneur{
    background-color: whitesmoke;
    box-shadow:0px 15px 10px -5px #777;
    display: flex;
    flex-direction: column;
    margin: 5% 10% 10% 10%;
    height: 1500px;
}












select{
    width: 190px;
    border-radius: 7px;
    border: none;
    height: 20px;
    font-size: 13px;
    padding: 1% ;
    margin-top: 2%;
    color: black;
}
h4{
    color: rgb(7, 147, 182);
    margin-left: 1%;
}
 h1{
    font-size: 30px;
    margin: 1%;  
    color: white;
}

.h2-rechercher{
    text-align: left;
}
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn-search{
    background-color: #1b70e9;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 12px;
    border-radius: 1px;
    height: 40px;
    width: 20%;
   
}
.btn-log-in-out {
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 12px;
    height: 30px;
    width: 100px;
}
.btn-ajouter-entabliss {
    background-color: #ffffff00;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 12px;
    height: 30px;
    border: rgb(255, 255, 255) 2px solid;
}
.btn-devise {
    background-color: #ffffff00;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 12px;
    height: 30px;
}
.btn-langue {
    background-color: #ffffff00;
    color: rgb(255, 255, 255);
    background-image: url("../images/icon/france_48px.png");
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-position: center;
    background-clip: content-box;
}
.btn-more {
    background-color: #ffffff00;
    color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: white 2px solid;
    font-size: 15px;
}
@keyframes fondu{
    0%{background-image: url(../images/bg/bg_header3.jpg);}
    33.33%{background-image: url(../images/bg/bg_header2.jpg);}
    66.67%{background-image: url(../images/bg/bg_header2.jpg);}
    100%{background-image: url(../images/bg/bg_header1.jpg);}
}


footer{
    padding: 5%;
    color: white;
    background-color: #0d2640;
    height: 300px;
}
.figure-simple{
    background-color: #410b91bb;
    color: rgb(150, 0, 0);
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 10px;
    max-width: 250px;
    min-width: 190px;
    max-height: 300px;
    overflow: hidden;

}


