<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="view/css/style.css">
    <link rel="stylesheet" href="view/css/style-animations.css">
    <link rel="stylesheet" media="screen and (max-width: 1280px)" href="petite_resolution.css" />
    <title>Document</title>
</head>
<body>

    <div class="conteneur"> 
        <div class="body-index">
            <div class="body-index-left">
                <h1>Bienvenue sur BamBuu</h1>
                <p>
                    Trouver facilement les meilleures offres immobilière dans tous les pays
                </p>
                <button class="btn-singup">S'enregistrer et commencer</button>
                </div>
            <div class="body-index-right">
                <div class="slideshow-container">
                    <div class="mySlides ">
                      <div class="numbertext">1 / 3</div>
                      <img src="view/images/bg/bg_header1.jpg" style="width: 100%;" />
                      <div class="text">London, Ebgland</div>
                    </div>
                    <div class="mySlides fade">
                      <div class="numbertext">2 / 3</div>
                      <img src="view/images/logo/logo.png" style="width: 100%;" />
                      <div class="text">Sunset in Romania</div>
                    </div>
                    <div class="mySlides fade">
                      <div class="numbertext">3 / 3</div>
                      <img src="view/images/bg/bg_header3.jpg" style="width: 100%;" />
                      <div class="text">New York, USA</div>
                    </div>
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    <div style="text-align: center;">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                      </div>
                </div>

            </div>
        </div>

        <div class="bloc-rechercher">
            <h2 class="h2-rechercher">
                Rechercher par type d'ébergement
            </h2>
            <figure class="animation-image">
                <img src="view/images/bg/bg_header1.jpg" alt="sample70" />
                <figcaption>
                  <h3>En savoir plus</h3>
                </figcaption>
                Appartements
                <a href="#"></a>
              </figure>

              <figure class="animation-image">
                <img src="view/images/bg/bg_header3.jpg" alt="sample70" />
                <figcaption>
                  <h3>En savoir plus</h3>
                </figcaption>
                Appartements
                <a href="#"></a>
              </figure>

              <figure class="animation-image">
                <img src="view/images/bg/bg_header2.jpg" alt="sample70" />
                <figcaption>
                  <h3>En savoir plus</h3>
                </figcaption>
                Appartements
                <a href="#"></a>
              </figure>

              <figure class="animation-image">
                <img src="view/images/bg/bg_header1.jpg" alt="sample70" />
                <figcaption>
                  <h3>En savoir plus</h3>
                </figcaption>
                Appartements
                <a href="#"></a>
              </figure>
        </div>


        <div class="bloc-visiter">
            <div class="bloc-visiter-left">
                <h2 class="h2-rechercher">
                    Visiter le cameroun
                </h2>
            </div>
            <div class="bloc-visiter-right">
                <figure class="figure-simple">
                    <img src="view/images/bg/bg_header1.jpg" alt="sample70" />

                    Appartements
                    <a href="#"></a>
                  </figure>
    
                  <figure class="figure-simple">
                    <img src="view/images/bg/bg_header3.jpg" alt="sample70" />
                    Appartements
                    <a href="#"></a>
                  </figure>
            </div>

        </div>


        
    </div>
    </div> 

    <footer>
        <div class="footer-header">
            <div class="footer-header-header">
                <h3>Gagner du temps et de l'argent !</h3>
                <p>Inscrivez vous et nous vous enverons les meiileures offres</p>
            </div>

            <div class="footer-header-footer">
                <input type="email" name="txt_name" id="" placeholder="Entrer votre Email">
                <button>Inscrivez vous</button>
            </div>
            <div class="footer-footer">
                <div class="footer-footer-left">
                    <a href="#">Pays</a>
                    <a href="#">Regiqsdqsdqsdqsdqsdons</a>
                    <a href="#">Viqsdqsdqsdlle</a>
                    <a href="#">cartiewxcwxcwxcr</a>
                    <a href="#">Hotel</a>
                </div>
                <div class="footer-footer-left">
                    <a href="#">Pays</a>
                    <a href="#">Regiowxcwxcwxcwxcns</a>
                    <a href="#">Ville</a>
                    <a href="#">carqsdqsdqsdtier</a>
                    <a href="#">Hotqsdqsdqsdel</a>
                </div>

                <div class="footer-footer-left">
                    <a href="#">Pays</a>
                    <a href="#">Regions</a>
                    <a href="#">Villwxcwxcwxcwxcwxce</a>
                    <a href="#">cartier</a>
                    <a href="#">Hoqsdqsdqsdqsdqsdqsdqsdqsdtel</a>
                </div>

                <div class="footer-footer-left">
                    <a href="#">Pays</a>
                    <a href="#">Regiowxcwxcwns</a>
                    <a href="#">Vilqsdqsdqsdqsdqsdqsdle</a>
                    <a href="#">cartier</a>
                    <a href="#">Hotel</a>
                </div>
                <div class="footer-footer-left">
                    <a href="#">Pays</a>
                    <a href="#">Regions</a>
                    <a href="#">Villwxcwxcwxe</a>
                    <a href="#">cartier</a>
                    <a href="#">Hotel</a>
                </div>
                
            </div>

        </div>
    </footer>
    <script src="view/js/script.js"></script>
</body>
</html>