<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/jquery.js"></script>
    <script src="../js/script-etape1-inscription.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <nav>

        <div class="nav-header">
            <div class="nav-left">
                <a href="../../index.html">
                    <img src="../images/logo/logo.png" alt="" height="50" width="50">
                </a>
                <h3>Bambuu</h3>
            </div>

            <div class="nav-right">

                <ul>
                    <li class="deroulant"><a href="#">Langue🔽</a>
                        <ul class="sous">
                        <li><a href="#">Français</a></li>
                        <li><a href="#"> Anglais</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        
    </nav>
   <div class="conteneur">
        <div class="body-index">
            <div class="body-index-left">
                <h1>Inscrivez votre</h1>
                <h1>appartement</h1>
                <h1>sur Bambuu.com</h1>

                <h4>commencez aujourd'hui, l'inscription ne vous prendras que 10 minutes</h4>
                <button id="btn-more">En savoir plus</button>
                <button id="btn-masquer">Masquer</button>
                <div id="body-index-more">
                    <p>Vous définissez des règles de la maison que les clients devront accepter avant leur séjour</p>
                    <p>Vous demandez un dépôt de garantie pour plus de sécurité</p>
                    <p>Vous signalez le comportement inapproprié d'un client en cas de problème</p>
                    <p>Vous bénéficiez d'une assistance 24h/24 et 7j/7 dans plus de 43 langues</p>
                </div>

                
           </div>
           <div class="body-index-right">
                <div class="frm-body-index-right">
                    <h3>Inscrire un hébergement</h3>
                    <p>Inscription gratuite</p>
                    <p>Assistance 24h/24 et 7j/7 par e-mail ou par téléphone</p>
                    <p>Règles de la maison personnalisées</p>
                    <p>Calendrier synchronisé avec vos autres sites</p>
                    <div class="frm-body-index-right-bottom">
                        <h3>Creer un compte partenaire pour commencer</h3>
                        <p><h5>En continuant, vous acceptez que Booking.com vous envoie des e-mails concernant l'inscription de votre établissement.</h5></p>
                        <div class="button-begin">
                            <button><a href="inscription-ai-suite.html">Commencer   </a> </button>
                        </div>
                    </div>
                </div>
                
           </div>
        </div>
   </div>
   <div class="conteneur">
        <div class="body-index">
            <div class="body-index-left">
                <h2>S'inscrire en tent que client</h2>
                Voici comment nous vous aidons à accueillir vos clients l'esprit tranquille :
                <p>Vous définissez des règles de la maison que les clients devront accepter avant leur séjour</p>
                <p>Vous demandez un dépôt de garantie pour plus de sécurité</p>
                <p>Vous signalez le comportement inapproprié d'un client en cas de problème</p>
                <p>Vous bénéficiez d'une assistance 24h/24 et 7j/7 dans plus de 43 langues</p>
                    <button class="btn-singup"><a href="./inscription_client.html">S'inscrire</a> </button>
            </div>
            <div class="body-index-right">
                <a href="../../index.html">
                    <img src="../images/others/img-femme-porte-maison.png" alt="" class="img-frm-inscription">
                </a>
        </div>
        </div>
   </div>
   <footer>
    <div class="footer-header">
        <div class="footer-header-header">
            <h3>Gagner du temps et de l'argent !</h3>
            <p>Inscrivez vous et nous vous enverons les meiileures offres</p>
        </div>

        <div class="footer-header-footer">
            <input type="email" name="txt_name" id="" placeholder="Entrer votre Email">
            <button>Inscrivez vous</button>
        </div>
        <div class="footer-footer">
            <div class="footer-footer-left">
                <a href="#">Pays</a>
                <a href="#">Regiqsdqsdqsdqsdqsdons</a>
                <a href="#">Viqsdqsdqsdlle</a>
                <a href="#">cartiewxcwxcwxcr</a>
                <a href="#">Hotel</a>
            </div>
            <div class="footer-footer-left">
                <a href="#">Pays</a>
                <a href="#">Regiowxcwxcwxcwxcns</a>
                <a href="#">Ville</a>
                <a href="#">carqsdqsdqsdtier</a>
                <a href="#">Hotqsdqsdqsdel</a>
            </div>

            <div class="footer-footer-left">
                <a href="#">Pays</a>
                <a href="#">Regions</a>
                <a href="#">Villwxcwxcwxcwxcwxce</a>
                <a href="#">cartier</a>
                <a href="#">Hoqsdqsdqsdqsdqsdqsdqsdqsdtel</a>
            </div>

            <div class="footer-footer-left">
                <a href="#">Pays</a>
                <a href="#">Regiowxcwxcwns</a>
                <a href="#">Vilqsdqsdqsdqsdqsdqsdle</a>
                <a href="#">cartier</a>
                <a href="#">Hotel</a>
            </div>
            <div class="footer-footer-left">
                <a href="#">Pays</a>
                <a href="#">Regions</a>
                <a href="#">Villwxcwxcwxe</a>
                <a href="#">cartier</a>
                <a href="#">Hotel</a>
            </div>
            
        </div>

    </div>
</footer>
</body>
</html>