<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style-animations.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/script-inscription.js"></script>
    <script src="../../Model/User.js"></script>
    <script src="../../controler/AjouterUser.js"></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav-header">
            <div class="nav-left">
                <a href="../../index.html">
                    <img src="../images/logo/logo.png" alt="" height="50" width="50">
                </a>
                <h3>Bambuu</h3>
            </div>

            <div class="nav-right">

                <ul>
                    <li class="deroulant"><a href="#">Langue🔻</a>
                        <ul class="sous">
                        <li><a href="#">Français</a></li>
                        <li><a href="#"> Anglais</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        
    </nav>
    <div class="frm-inscription-ai">
        <div class="frm-inscription-ia-content">
            <h2 id="lb-title">Créez votre compte client</h2>
            <label>Créez un compte pour inscrire et gérer votre établissement.</label>
            <p id="lb-email">Entrer votre adresse mail</p>
            <input type="email" name="" id="txt-email" placeholder="Exemple@Exemple.com">

            <p id="lb-nom">Entrer votre nom</p>
            <input type="text" name="" id="txt-nom" placeholder="Entrer le nom">

            <p id="lb-prenom">Entrer votre prenom</p>
            <input type="text" name="" id="txt-prenom" placeholder="Entrer le prenom">

            <p id="lb-phone-number">Entrer votre numero de telephone</p>
            <input type="text" name="" id="txt-phone-number" placeholder="Numero de telephone">

            <p id="lb-password">Entrer un mot de passe</p>
            <input type="text" name="" id="txt-password" placeholder="Mot de passe">

            <p id="lb-confirm-password">Confirmer le mot de passe</p>
            <input type="text" name="" id="txt-confirm-password" placeholder="Mot de passe">

            <button id="btn-suivant">Suivant</button>
            <button id="btn-terminer" onclick="AjouterUtilisateur();"> <a href="./acceuil.html">Terminer</a> </button>
            <button id="btn-precedent" class="btn-precedent">Precedent</button>

            <div class="frm-inscription-ia-bottom">
                <button class="btn-se-connecter"> <a href="./login.html">Se connecter</a> </button>
                <p>
                    En créant ou en vous connectant à un compte, vous acceptez 
                    nos conditions générales et notre <a href="#"> charte de confidentialité.</a>
                </p>
            </div>
        </div>
        <p>
            Tous droits réservés.
        </p>
        <p>
            Copyright (2021 - 2022) - Bambuu.com™
        </p>
    </div>

</body>
</html>